* {
    padding: 0;
    margin: 0;
}

.conteiner {
    /*width: 1600px;*/ /*Не фиксируем ширину, на устройствах меньше это всё уезжает вправо*/
    width: 100%;
    max-width: 1600px; /*На больших экранах ничего не изменится, зато на маленьких станет лучше*/
    height: 100%;
    margin: auto;
}

body {
    font-family: 'lato', sans-serif;
}

a {
    text-decoration: none;
}

/*navigation*/

.navbar_conteiner {
    margin-left: 231px;
    margin-right: 239px;
    display: flex;
    justify-content: space-between;
}

.navbar_ndx {
    width: 100%;
    height: 75px;
    background: #222222;
}

.navbar_conteiner_left {
    margin: 0;
    height: 75px;
    justify-content: flex-start;
}

.icon-2 {
    padding-left: 42px;
}

.navbar_conteiner_right {
    margin: 0;
    height: 75px;
    justify-content: flex-end;
}

.icon-4 {
    padding: 0 34px;
}

/*main_look*/

.main_look {
    background: #F1E4E6;
    width: 100%;
    height: 100%;
}

.bigman {
    max-width: 100%;
    max-height: 100%;
}

.text--pink {
    color: #F16D7F;
}

.main_look_text {
    position: relative;
    margin-left: 92px;
}

.main_look_text::before {
    content: " ";
    position: absolute;
    width: 12px;
    left: -28px;
    height: 100%;
    background: #F16D7F;
}

.brand_text {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
}

.subtitle_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

/*for_people*/
.for_people {
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    margin-top: 64px;
}

.for_people_blok {
    height: 260px;
    background-position: center; /*Чтоб при сжатии был не левый край фотографий, а центр*/
}

.fpb-1 {
    background-image: url(img/for_women.jpg);
}

.fpb-2 {
    background-image: url(img/for_men.jpg);
}

.fpb-3 {
    background-image: url(img/for_kids.jpg);
    align-self: center;
}

.fbp-4 {
    background-image: url(img/accesories.jpg);
}

.fpb_line_1 {
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 19px;
}

.fpb_line_2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-top: 1%;
}

.accesoaries {
    height: 180px;
    background-position: center; /*Аналогично*/
}

/*fetured*/
.fetured {
    margin: 0 230px;

}

.fet-items {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-top: 97px;
}

.fet-items_small {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    margin-top: 6px;
    margin-bottom: 18px;
}
.fetured_block {
    height: 580px;
    margin-top: 30px;
    background-color: #F8F8F8;
}

.fetured_text-1 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    margin-left: 16px;
    margin-top: 24px;
}

.fetured_text-2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-left: 16px;
    margin-top: 13px;
}

.fetured_text-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 16px;
    margin-top: 18px;
}

.main_button {
    padding: 14px 37px;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    border: 1px solid #FF6A6A;
    color: #F26376;
    outline: none;
    cursor: pointer;
    transition: 600ms;
}
.main_button:hover {
    color: white;
    background-color: #F26376;
    transition: 600ms;
}

/*black_block*/
.black {
    width: 100%;
    height: 341px;
    background-color: #222224;
    margin-top: 95px;
    padding: 0 14%;
}

.black_text-1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.black_text-2 {
    font-weight: 300;
    font-size: 14x;
    line-height: 17px;
    color: rgba(251, 251, 251, 1);
}

.black_block {
    height: 50%;
    }

.black_img {
    margin-bottom: 20px;
}

/*subscribe*/
.subscribe {
    height: 448px;
    background-image: url(img/photo\ subscribe.jpg);
}

.lady {
    height: 100%;
    width: 360px;
    margin-left: 230px;
}

.lady_img {
    margin-bottom: 30px;
}

.lady_text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.subforme {
    margin-right: 327px;
}

.subforme_text_1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
}

.subforme_text_2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222224;
}

.email_form {
    margin-top: 32px; /*Так будет оступ и у кнопки и у текстового поля*/
}

.e-mail_inp {
    width: 256px;
    height: 49px;
    padding-left: 22px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    /*margin-top: 32px;*/
    box-sizing: border-box;
    border: none;
    outline: none;
}

.sub {
    width: 120px;
    height: 49px;
    /*margin-left: ;*//*Кажется, тут должно был обыть значение*/
    background: #F16D7F;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 14px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

/*footer*/
.footer {
    height: 79px;
    background: #222224;
}

.footer_content {
    height: 100%;
    margin-left: 235px;
    margin-right: 230px;
}

.s_box {
    background: #FFFFFF;
    height: 32px;
    width: 32px;
}

.bak_pink {
    background: #F16D7F;
}

.social_box {
    height: 100%;
    width: 163px;
}

.footer_text {
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 79px;
    color: #FBFBFB;
}
/*feture_hover*/
.hover_button {
    width: 138px;
    height: 43px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    color: white;
    position: absolute;
    top: 188px;
    left: 111px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    font-weight: 100; 
}
.fetured_blok_hover {
    width: 100%;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    position: absolute;
    opacity: 0;
    transition: 400ms;
}
.cart_small {
    padding-right: 11px;
}
.fetured_blok_hover:hover {
    opacity: 1;
}

/*catalog*/

.nw_ar {
    width: 100%;
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nw_ar_txt {
    padding-left: 15%;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.nw_ar_leftMenu {
    padding-right: 15%;
}
.nw_ar_leftMenu_list {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.menu_active {
    font-weight: 700;
    color: #F16D7F;
}
.filter {
    height: 82px;
    width: 100%;
    display: flex;
}
.filter_left {
    margin-left: 15%;
    width: 24%;
    margin-top: 50px;
}
.filter_center {
    margin-top: 50px;
}
.filter_left_txt {
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.filter_center_txt {
    margin-right: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.filter_img {
    margin-right: 28px;
}

/*product*/
.nothing {
    height: 33px;
}
.prod_slider {
    width: 100%;
    height: 777px;
    background-color: #F7F7F7;
    justify-content: space-between;
}
.prod_slider_href {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    justify-content: center;
}
.prod_info_hr_1 {
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
    border: none;
    margin-top: 12px;    
}
.prod_button{
    width: 211px;
    height: 47px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #F26376;
    color: #F26376;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center; 
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    padding-left: 24px;
    margin-top: 48px;
    margin-bottom: 65px;
}
.prod_cart {
    margin-right: 23px;
}
.prod_info_hr_2 {
    width: 641px;
    margin-top: 65px;
    border: 1px solid #EAEAEA;
    background-color: #EAEAEA;
}
.prod_info_h {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-top: 65px;  
}
.prod_info_h_next {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 12px;
}
.prod_info_txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-top: 48px;
    width: 555px;
}
.prod_info_price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-top: 32px;
}
.prod_info {
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #EAEAEA;
    flex-direction: column;
    margin-top: -65px;
    overflow: hidden;
    background-color: white;
    z-index: 1;
    position: relative;
    margin-bottom: 82px;
}
.prod_filter_center {
    margin-top: 65px;
}
